.about-magazine {
	//position: relative;
	margin-top: 2rem;
	.inner {
		background-color: $color_white;
		@include mq-pc {
			min-height: 80vh;
		}
		//.body {
		//}
	}
	&[data-inview*="true"] {
		.inner {
			background-image: url(../img/about-magazine_bg.jpg);
		}
	}
}
