.concept {
	.inner {
		background-color: $color_white;

		@include mq-pc {
			min-height: 80vh;
		}
		@include mq-sp {
			margin-top: 2rem;
		}
		.body {

		}
	}

	&[data-inview*="true"] {
		.inner {
			@include mq-pc {
				background-image: url(../img/concept_bg.jpg);

			}
			@include mq-sp {

				background-image: url(../img/concept_bg_sp.jpg);
			}

		}
	}
}