.concept {
	.inner {
		//background-size: cover;
		//background-position: center center;
		//display: flex;
		//justify-content: center;
		//align-items: center;
		//color: $color_white;
		//text-align: center;
		//padding: 4rem 1rem;
		@include mq-pc {
			min-height: 80vh;
		}
		@include mq-sp {
			margin-top: 2rem;
		}
		.body {

		}
	}

	&[data-inview*="true"] {
		.inner {
			background-image: url(../img/concept_bg.jpg);
		}
	}
}