footer {
	background: linear-gradient(to bottom, #5CCAED 0%, $color_blue 100%);
	padding: 1rem 1rem;
	font-size: small;

	.inner {
		color: white;

		.body {
			display: flex;
			justify-content: space-between;
			//@include mq-pc {
			//	justify-content: space-between;
			//	vertical-align: middle;
			//	align-items: center;
			//
			//}
			//@include mq-sp {
			//	justify-content: space-around;
			//	vertical-align: middle;
			//	align-items: center;
			//}
			.left {
				img {
					width: auto;
					height: 2rem;
					margin-bottom: 1rem;
				}
			}
			.right {
			}
		}

		.copy {
			text-align: center;
			margin-top: 1rem;
		}
	}
}