header {
	background-color: $color_white;
	padding: 1rem 1rem;
	.inner {
		.logo {
			border-bottom: 0;
			img {
				width: auto;
				@include mq-pc {
					height: 3rem;
				}
				@include mq-sp {
					height: 2rem;
				}
			}
		}
	}
}