.info {
	padding-bottom: 0;
	.inner {
		display: flex;
		justify-content: space-around;
		@include mq-pc {
			flex-direction: row;
		}
		@include mq-sp {
			flex-direction: column;
		}
	}
	&__detail {
		flex: 1;
		max-width: 500px;
		margin-right: 0.75rem;
		background-color: $color_white;
		table {
			width: 100%;
			border-collapse: collapse;

			tr {

			}
			th, td {
				padding: 0.25rem;
				border: 1px solid rgba($color_text_black, 0.5);
			}
			th {
				text-align: left;
				font-weight: normal;
			}
			td {
			}
		}

		.document {
			margin-top: 2rem;
			text-align: center;
			h3 {
				font-size: larger;
				.text {
					display: inline-block;
					border-bottom: 0.1rem solid $color_text_black;
					line-height: 1;
					padding: 0.5rem;
				}
			}
			dl {
				display: inline-block;
				line-height: 1.75;
				dt {
					margin-top: 1rem;
					margin-bottom: -1.75em;
					text-align: left;
				}
				dd {
					display: block;
					margin-left: 3rem;
					&:before {
						content: "・";
					}
					a {
						display: inline-block;
						border-bottom: 1px solid $color_text_black;
					}
				}
			}
		}
	}
	&__news {
		flex: 1;
		max-width: 500px;
		margin-left: 0.75rem;
		background-color: $color_white;
	}
}