.info {
	padding-bottom: 0;
	.inner {
		display: flex;
		justify-content: space-around;
		@include mq-pc {
			flex-direction: row;
		}
		@include mq-sp {
			flex-direction: column;
		}
	}

	&__detail {
		flex: 1 0 50%;
		max-width: 500px;
		background-color: $color_white;
		@include mq-pc {
			margin-right: 0.75rem;
		}
		@include mq-sp {
		}
		.body {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		table {
			width: 100%;
			border-collapse: collapse;

			tr {

			}
			th, td {
				padding: 0.25rem;
				border: 1px solid rgba($color_text_black, 0.5);
			}
			th {
				text-align: left;
				font-weight: normal;
			}
			td {
			}
		}

		.document {
			margin-top: 2rem;
			h3 {
				text-align: center;
				font-size: larger;
				.text {
					display: inline-block;
					border-bottom: 0.1rem solid $color_text_black;
					line-height: 1;
					padding: 0.5rem;
				}
			}
			dl {
				line-height: 1.75;
				dt {
					margin-top: 1rem;
					margin-bottom: -1.75em;
					text-align: left;
				}
				dd {
					display: block;
					margin-left: 3rem;
					&:before {
						content: "・";
					}
				}
			}
		}
	}
	&__news {
		flex: 1 0 50%;
		max-width: 500px;
		background-color: $color_white;
		@include mq-pc {
			margin-left: 0.75rem;
		}
		@include mq-sp {
			padding: 0 2rem;
			margin-top: 3rem;
		}
		.body {
			text-align: center;
		}
	}

	//&[data-inview="true"] {
	//	.info__news {
	//		display: block;
	//	}
	//}
}