.main-contents {
  h4{
    color: blue;
    background: red;
  }
  .lead{
    color: white;
    background: black;
  }
  //.activity{
  //  color: orange;
  //  background: green;
  //}
  //.suport {
  //  color: pink;
  //  background: blue;
  //}
}