#main-visual {
	padding: 0;

	.body{
		width: 100%;
		height: 20rem;
		background: url("https://placehold.jp/150x150.png");
		//background-image: url("../img/main1.jpg");
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;

		h2{
			display: none;
		}
	}
}