.main-visual {
	padding: 0;
	height: 80vh;
	position: relative;
	overflow: hidden;

	$time: 4s;
	.upper, .under {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: absolute;
		transform: scale(1);

		transition: opacity 1s $ease-in-sine 0s, transform $time $ease-out-sine 0s;
	}
	&[data-toggle="true"] {
		.upper {
			opacity: 1;
			transform: scale(1.08);
		}
		.under {
			transition-duration: 1s, 0s;
			transition-delay: 0s, $time;
		}
	}
	&[data-toggle="false"] {
		.upper {
			opacity: 0;
			transition-duration: 1s, 0s;
			transition-delay: 0s, $time;
		}
		.under {
			transform: scale(1.08);
		}
	}
	.inner {
		height: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		position: relative;
		padding-bottom: 1rem;
		.lead {
			span {
				display: inline-block;
				background-color: $color_white;
				color: $color_text_black;
				line-height: 1;
				margin-top: 0.5rem;
				padding: 0.5rem;
				font-size: 24px;
			}
		}
	}
}