.vision {
	.inner {
		background-size: cover;
		background-position: center center;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		text-align: center;
		padding: 4rem 1rem;
		@include mq-pc {
			min-height: 110vh;
		}
		.body {
			p {

			}

		}
	}
	&[data-inview*="true"] {
		.inner {
			background-image: url(../img/vision_bg.jpg);
		}
	}
}