@import "util";
@import 'init';

main {
}

section {
	padding: 2.5rem 1rem;
}

.inner {
	width: 100%;
	max-width: 1160px;
	margin: auto;
}

.btn {
	display: inline-block;
	background-color: $color_white;
	color: $color_text_black;
	border-radius: 1rem;
	line-height: 1;
	padding: 0.5rem;
}

.title {
	text-align: center;
	margin-bottom: 2rem;
	.text {
		display: inline-block;
		background-color: rgba($color_black, 0.3);
		color: $color_white;
		line-height: 1;
		padding: 0.5rem;
		@include mq-pc {
			font-size: 38px;
		}
		@include mq-sp {
			font-size: 25px;
		}
	}
	.en {
		display: inline-block;
		background-color: rgba($color_black, 0.3);
		color: $color_white;
		line-height: 1;
		padding: 0.5rem;
		margin-top: 0.25rem;
		@include mq-pc {
			font-size: 18px;
		}
		@include mq-sp {
			font-size: 15px;
		}
	}

	&.notBg {
		padding: 0.5rem;
		margin-bottom: 1rem;
		* {
			background-color: inherit;
			color: inherit;
		}
		.text {
			border-bottom: 0.125rem solid $color_text_black;
		}
		.en {
			margin-top: 0rem;
		}
	}
}

p + p {
	margin-top: 1rem;
}

@import "header";
@import "footer";
@import "main-visual";
@import "vision";
@import "service";
@import "info";
@import "concept";
//@import "pick-up-news";
//@import "main-contents";
