@import "util";
@import 'init';

body {
	&:before {
		position: absolute;
		display: inline-block;
		z-index: 1000;
		font-size: large;
	}
	@include mq-xl {
		&:before {
			content: "mq-xl";
		}
	}
	@include mq-md {
		&:before {
			content: "mq-md";
		}
	}
	@include mq-tb {
		&:before {
			content: "mq-tb";
		}
	}
	@include mq-pc {
		&:before {
			background-color: red;
		}
	}
	@include mq-sp {
		&:before {
			content: "mq-sp";
			background-color: blue;
		}
	}
	font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

header {
	background-color: $color_white;
	padding: 0 1rem;
	.inner {
		@include mq-pc {
			height: 5rem;
		}
		@include mq-sp {
			height: 2.5rem;
		}
	}
}

footer {
	background-color: #6ebbd4;
	.inner {
		//padding-bottom: 0;
		border: 0;
		padding: 0 2rem;
		padding-top: 1rem;
		margin-top: 0.2rem;
		color: white;
		font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;

		.body{
			display: flex;
			.left{
				img[src="https://placehold.jp/150x150.png"]{
					width: 30%;
					height: 2rem;
					margin-bottom: 0.5rem;
				text-align: left;
				}

			}
			.right{
				text-align: right;
				vertical-align: middle;
				//justify-content: center;
				//align-items: center;
			}

		}

		.copy{
			text-align: center;
			//display: flex;
			//justify-content: center;
			////align-items: flex-end;
			//vertical-align: bottom;
		}
	}
}

main {
}

section {
	padding: 1rem 1rem;
}

.inner {
	border: 1px solid rgba($color_red, 0.8);
	max-width: 1160px;
	margin: auto;
}

@import "main-visual";
@import "pick-up-news";
@import "main-contents";
