@charset "UTF-8";
/**
size
 */
/**
color
 */
/**
z-index
 */
/**

 */
html, :root {
  color: #333;
  background-color: #fff;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Mplus 1p", "Sawarabi Gothic", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }
  @media screen and (min-width: 751px) {
    html, :root {
      font-size: 24px; } }
  @media screen and (max-width: 750px) {
    html, :root {
      font-size: 24px; } }

@media screen and (min-width: 751px) {
  body {
    font-size: 16px;
    line-height: 1.4; } }

@media screen and (max-width: 750px) {
  body {
    font-size: 13px;
    line-height: 1.4; } }

* {
  margin: 0;
  padding: 0; }

*,
::before,
::after {
  box-sizing: inherit; }

img {
  display: block;
  width: 100%;
  height: auto; }

button {
  background: none;
  border: 0;
  cursor: pointer;
  outline: 0; }
  button:focus {
    outline: inherit; }

a {
  text-decoration: none;
  color: inherit;
  word-wrap: break-word; }

ul, ol {
  list-style: none; }

h2 {
  font-weight: normal; }

h3 {
  font-weight: normal; }

h4 {
  font-weight: normal; }

em {
  font-weight: bolder; }

section {
  padding: 2.5rem 1rem; }

.inner {
  width: 100%;
  max-width: 1160px;
  margin: auto; }

.btn {
  display: inline-block;
  background-color: #fff;
  color: #333;
  border-radius: 1rem;
  line-height: 1;
  padding: 0.5rem; }

.title {
  text-align: center;
  margin-bottom: 2rem; }
  .title .text {
    font-size: 38px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    line-height: 1;
    padding: 0.5rem; }
  .title .en {
    font-size: 18px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    line-height: 1;
    padding: 0.5rem;
    margin-top: 0.25rem; }
  .title.notBg {
    padding: 0.5rem;
    margin-bottom: 1rem; }
    .title.notBg * {
      background-color: inherit;
      color: inherit; }
    .title.notBg .text {
      border-bottom: 0.125rem solid #333; }
    .title.notBg .en {
      margin-top: 0rem; }

p + p {
  margin-top: 1rem; }

header {
  background-color: #fff;
  padding: 1rem 1rem; }
  header .inner .logo img {
    width: auto; }
    @media screen and (min-width: 751px) {
      header .inner .logo img {
        height: 3rem; } }
    @media screen and (max-width: 750px) {
      header .inner .logo img {
        height: 2rem; } }

footer {
  background: linear-gradient(to bottom, #5CCAED 0%, #6ebbd4 100%);
  padding: 1rem 1rem;
  margin-top: 3rem;
  font-size: small; }
  footer .inner {
    color: white; }
    footer .inner .body {
      display: flex;
      justify-content: space-between; }
      footer .inner .body .left img {
        width: auto;
        height: 2rem;
        margin-bottom: 1rem; }
    footer .inner .copy {
      text-align: center;
      margin-top: 1rem; }

.main-visual {
  padding: 0;
  height: 80vh;
  position: relative;
  overflow: hidden; }
  .main-visual .upper, .main-visual .under {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    transform: scale(1);
    transition: opacity 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s, transform 4s cubic-bezier(0.39, 0.575, 0.565, 1) 0s; }
  .main-visual[data-toggle="true"] .upper {
    opacity: 1;
    transform: scale(1.08); }
  .main-visual[data-toggle="true"] .under {
    transition-duration: 1s, 0s;
    transition-delay: 0s, 4s; }
  .main-visual[data-toggle="false"] .upper {
    opacity: 0;
    transition-duration: 1s, 0s;
    transition-delay: 0s, 4s; }
  .main-visual[data-toggle="false"] .under {
    transform: scale(1.08); }
  .main-visual .inner {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    padding-bottom: 1rem; }
    .main-visual .inner .lead span {
      display: inline-block;
      background-color: #fff;
      color: #333;
      line-height: 1;
      margin-top: 0.5rem;
      padding: 0.5rem;
      font-size: 24px; }

.vision .inner {
  min-height: 110vh;
  background-image: url(../img/vision_bg.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 2rem 0; }

.service {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 5rem; }
  .service:before, .service:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to bottom, #5CCAED 0%, #48D6BC 100%); }
  .service:before {
    transform: skewY(1deg);
    transform-origin: top left;
    opacity: 0.4; }
  .service:after {
    transform: skewY(-4deg);
    opacity: 0.6; }
  .service .title.notBg {
    color: #fff; }
    .service .title.notBg .text {
      border-color: #fff; }
  .service .about-sp {
    position: relative; }
    .service .about-sp .inner {
      min-height: 80vh;
      background-image: url(../img/about-sp_bg.jpg);
      background-size: cover;
      background-position: center center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;
      padding: 2rem 0; }

.info {
  padding-bottom: 0; }
  .info .inner {
    display: flex;
    justify-content: space-around; }
    @media screen and (min-width: 751px) {
      .info .inner {
        flex-direction: row; } }
    @media screen and (max-width: 750px) {
      .info .inner {
        flex-direction: column; } }
  .info__detail {
    flex: 1;
    max-width: 500px;
    margin-right: 0.75rem;
    background-color: #fff; }
    .info__detail table {
      width: 100%;
      border-collapse: collapse; }
      .info__detail table th, .info__detail table td {
        padding: 0.25rem;
        border: 1px solid rgba(51, 51, 51, 0.5); }
      .info__detail table th {
        text-align: left;
        font-weight: normal; }
    .info__detail .document {
      margin-top: 2rem;
      text-align: center; }
      .info__detail .document h3 {
        font-size: larger; }
        .info__detail .document h3 .text {
          display: inline-block;
          border-bottom: 0.1rem solid #333;
          line-height: 1;
          padding: 0.5rem; }
      .info__detail .document dl {
        display: inline-block;
        line-height: 1.75; }
        .info__detail .document dl dt {
          margin-top: 1rem;
          margin-bottom: -1.75em;
          text-align: left; }
        .info__detail .document dl dd {
          display: block;
          margin-left: 3rem; }
          .info__detail .document dl dd:before {
            content: "・"; }
          .info__detail .document dl dd a {
            display: inline-block;
            border-bottom: 1px solid #333; }
  .info__news {
    flex: 1;
    max-width: 500px;
    margin-left: 0.75rem;
    background-color: #fff; }

.concept .inner {
  min-height: 80vh;
  background-image: url(../img/concept_bg.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 2rem 0; }

/*# sourceMappingURL=index.css.map */
