@import "util";
@import 'init';

body {
	//&:before {
	//	position: absolute;
	//	display: inline-block;
	//	z-index: 1000;
	//	font-size: large;
	//}
	//@include mq-xl {
	//	&:before {
	//		content: "mq-xl";
	//	}
	//}
	//@include mq-md {
	//	&:before {
	//		content: "mq-md";
	//	}
	//}
	//@include mq-tb {
	//	&:before {
	//		content: "mq-tb";
	//	}
	//}
	//@include mq-pc {
	//	&:before {
	//		background-color: red;
	//	}
	//}
	//@include mq-sp {
	//	&:before {
	//		content: "mq-sp";
	//		background-color: blue;
	//	}
	//}
	font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

main {
}

section {
	padding: 1rem 1rem;
}

.inner {
	//border: 1px solid rgba($color_red, 0.8);
	max-width: 1160px;
	margin: auto;
}

@import "header";
@import "footer";
@import "main-visual";
@import "vision";
@import "about-sp";
@import "concept";
@import "info";
//@import "pick-up-news";
//@import "main-contents";
