@charset "UTF-8";
/**
size
 */
/**
color
 */
/**
z-index
 */
/**

 */
html, :root {
  color: #333;
  background-color: #fff;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Mplus 1p", "Sawarabi Gothic", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }
  @media screen and (min-width: 751px) {
    html, :root {
      font-size: 24px; } }
  @media screen and (max-width: 750px) {
    html, :root {
      font-size: 15px; } }

@media screen and (min-width: 751px) {
  body {
    font-size: 16px;
    line-height: 1.65; } }

@media screen and (max-width: 750px) {
  body {
    font-size: 13px;
    line-height: 1.65; } }

* {
  margin: 0;
  padding: 0; }

*,
::before,
::after {
  box-sizing: inherit; }

img {
  display: block;
  width: 100%;
  height: auto; }

button {
  background: none;
  border: 0;
  cursor: pointer;
  outline: 0; }
  button:focus {
    outline: inherit; }

a {
  text-decoration: none;
  color: inherit;
  word-wrap: break-word; }

ul, ol {
  list-style: none; }

h2 {
  font-weight: normal; }

h3 {
  font-weight: normal; }

h4 {
  font-weight: bolder; }

em {
  font-weight: bolder; }

section {
  padding: 2.5rem 1rem; }

.inner {
  width: 100%;
  max-width: 1160px;
  margin: auto; }

.btn {
  display: inline-block;
  background-color: #fff;
  color: #333;
  border-radius: 1rem;
  line-height: 1;
  padding: 0.5rem 1rem;
  text-shadow: none; }
  @media screen and (min-width: 751px) {
    .btn:hover {
      background-color: #6ebbd4;
      color: #fff; } }

.note {
  font-size: small;
  margin-top: 0.5em; }
  .note:before {
    content: "※";
    margin-top: 0.5em; }

.title {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem; }
  .title .text {
    display: inline-block;
    line-height: 1;
    padding: 0.5rem;
    border-bottom: 0.125rem solid #333; }
    @media screen and (min-width: 751px) {
      .title .text {
        font-size: 38px; } }
    @media screen and (max-width: 750px) {
      .title .text {
        font-size: 25px; } }
  .title .en {
    display: inline-block;
    line-height: 1;
    padding: 0.5rem; }
    @media screen and (min-width: 751px) {
      .title .en {
        font-size: 18px; } }
    @media screen and (max-width: 750px) {
      .title .en {
        font-size: 15px; } }

.kakuhan-block .inner {
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 4rem 1rem;
  position: relative;
  overflow: hidden; }
  .kakuhan-block .inner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 50%); }
  .kakuhan-block .inner .body {
    position: relative; }
    .kakuhan-block .inner .body p {
      text-shadow: 0px 0px 3px #000; }

.kakuhan-block .title {
  margin-bottom: 2rem;
  padding: 0; }
  .kakuhan-block .title .text {
    border-bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff; }
  .kakuhan-block .title .en {
    margin-top: 0.25rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff; }

.kakuhan-block[data-inview="true"] .title .text, .kakuhan-block[data-inview="true"] .title .en {
  transform: scaleX(0);
  color: #000;
  background-color: #000; }

.kakuhan-block[data-inview="true"] .inner .body p {
  color: rgba(255, 255, 255, 0);
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0); }

.kakuhan-block[data-inview="true"] .inner .body .flip {
  color: rgba(51, 51, 51, 0); }

.kakuhan-block[data-inview="true-fin"] .title .text {
  transform-origin: top left;
  transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s, color 0s linear 0.6s, background-color 0s linear 0.6s; }

.kakuhan-block[data-inview="true-fin"] .title .en {
  transform-origin: top left;
  transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.6s, color 0s linear 0.8s, background-color 0s linear 0.8s; }

.kakuhan-block[data-inview="true-fin"] .inner .body p, .kakuhan-block[data-inview="true-fin"] .inner .body .flip {
  transition: color 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.1s, text-shadow 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.1s; }

.flip {
  background-color: #fff;
  color: #333;
  text-shadow: none;
  margin: 0 0.5em;
  font-size: larger;
  line-height: 1; }

p + p {
  margin-top: 1rem; }

h4 {
  margin-top: 1rem; }

header {
  background-color: #fff;
  padding: 1rem 1rem; }
  header .inner .logo img {
    width: auto; }
    @media screen and (min-width: 751px) {
      header .inner .logo img {
        height: 3rem; } }
    @media screen and (max-width: 750px) {
      header .inner .logo img {
        height: 2rem; } }

footer {
  background: linear-gradient(to bottom, #5CCAED 0%, #6ebbd4 100%);
  padding: 1rem 1rem;
  margin-top: 3rem;
  font-size: small; }
  footer .inner {
    color: white; }
    footer .inner .body {
      display: flex;
      justify-content: space-between; }
      footer .inner .body .left img {
        width: auto;
        height: 2rem;
        margin-bottom: 1rem; }
    footer .inner .copy {
      text-align: center;
      margin-top: 1rem; }

.main-visual {
  padding: 0;
  height: 80vh;
  position: relative;
  overflow: hidden; }
  .main-visual .upper, .main-visual .under {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    transform: scale(1);
    transition: opacity 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s, transform 4s cubic-bezier(0.39, 0.575, 0.565, 1) 0s; }
  .main-visual[data-toggle="true"] .upper {
    opacity: 1;
    transform: scale(1.08); }
  .main-visual[data-toggle="true"] .under {
    transition-duration: 1s, 0s;
    transition-delay: 0s, 4s; }
  .main-visual[data-toggle="false"] .upper {
    opacity: 0;
    transition-duration: 1s, 0s;
    transition-delay: 0s, 4s; }
  .main-visual[data-toggle="false"] .under {
    transform: scale(1.08); }
  .main-visual .inner {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    padding-bottom: 3rem; }
    .main-visual .inner .lead span {
      display: inline-block;
      background-color: #fff;
      color: #333;
      line-height: 1;
      margin-top: 0.5rem;
      padding: 0.5rem; }
      @media screen and (min-width: 751px) {
        .main-visual .inner .lead span {
          font-size: 24px; } }
      @media screen and (max-width: 750px) {
        .main-visual .inner .lead span {
          font-size: 14px; } }

@media screen and (min-width: 751px) {
  .vision .inner {
    min-height: 110vh; } }

.vision[data-inview*="true"] .inner {
  background-image: url(../img/vision_bg.jpg); }

.service {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 5rem; }
  .service:before, .service:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to bottom, #5CCAED 0%, #48D6BC 100%); }
  .service:before {
    transform: skewY(1deg);
    transform-origin: top left;
    opacity: 0.4; }
  .service:after {
    transform: skewY(-4deg);
    opacity: 0.6; }
  .service .title.notBg {
    color: #fff; }
    .service .title.notBg .text {
      border-color: #fff; }
  @media screen and (min-width: 751px) {
    .service .about-sp .inner {
      min-height: 80vh; } }
  .service .about-sp ul {
    display: inline-block;
    text-align: left;
    list-style: disc; }
    .service .about-sp ul li .note {
      margin-top: 0; }
  .service .about-sp[data-inview*="true"] .inner {
    background-image: url(../img/about-sp_bg.jpg); }
  .service .about-magazine {
    margin-top: 2rem; }
    @media screen and (min-width: 751px) {
      .service .about-magazine .inner {
        min-height: 80vh; } }
    .service .about-magazine[data-inview*="true"] .inner {
      background-image: url(../img/about-magazine_bg.jpg); }

.info {
  padding-bottom: 0; }
  .info .inner {
    display: flex;
    justify-content: space-around; }
    @media screen and (min-width: 751px) {
      .info .inner {
        flex-direction: row; } }
    @media screen and (max-width: 750px) {
      .info .inner {
        flex-direction: column; } }
  .info__detail {
    flex: 1;
    max-width: 500px;
    background-color: #fff; }
    @media screen and (min-width: 751px) {
      .info__detail {
        margin-right: 0.75rem; } }
    .info__detail table {
      width: 100%;
      border-collapse: collapse; }
      .info__detail table th, .info__detail table td {
        padding: 0.25rem;
        border: 1px solid rgba(51, 51, 51, 0.5); }
      .info__detail table th {
        text-align: left;
        font-weight: normal; }
    .info__detail .document {
      margin-top: 2rem;
      text-align: center; }
      .info__detail .document h3 {
        font-size: larger; }
        .info__detail .document h3 .text {
          display: inline-block;
          border-bottom: 0.1rem solid #333;
          line-height: 1;
          padding: 0.5rem; }
      .info__detail .document dl {
        display: inline-block;
        line-height: 1.75; }
        .info__detail .document dl dt {
          margin-top: 1rem;
          margin-bottom: -1.75em;
          text-align: left; }
        .info__detail .document dl dd {
          display: block;
          margin-left: 3rem; }
          .info__detail .document dl dd:before {
            content: "・"; }
          .info__detail .document dl dd a {
            display: inline-block;
            border-bottom: 1px solid #333; }
            @media screen and (min-width: 751px) {
              .info__detail .document dl dd a:hover {
                border-bottom: 1px dotted #6ebbd4;
                color: #6ebbd4; } }
  .info__news {
    flex: 1;
    max-width: 500px;
    background-color: #fff; }
    @media screen and (min-width: 751px) {
      .info__news {
        margin-left: 0.75rem; } }
    @media screen and (max-width: 750px) {
      .info__news {
        padding: 0 2rem;
        margin-top: 3rem; } }

@media screen and (min-width: 751px) {
  .concept .inner {
    min-height: 80vh; } }

@media screen and (max-width: 750px) {
  .concept .inner {
    margin-top: 2rem; } }

.concept[data-inview*="true"] .inner {
  background-image: url(../img/concept_bg.jpg); }
