@charset "UTF-8";
/**
size
 */
/**
color
 */
/**
z-index
 */
/**

 */
html, :root {
  color: #000;
  background-color: rgba(255, 255, 255, 0.85);
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif; }
  @media screen and (min-width: 751px) {
    html, :root {
      font-size: 24px; } }
  @media screen and (max-width: 750px) {
    html, :root {
      font-size: 24px; } }

@media screen and (min-width: 751px) {
  body {
    font-size: 16px;
    line-height: 1.4; } }

@media screen and (max-width: 750px) {
  body {
    font-size: 13px;
    line-height: 1.4; } }

* {
  margin: 0;
  padding: 0; }

*,
::before,
::after {
  box-sizing: inherit; }

img {
  display: block;
  width: 100%;
  height: auto; }

button {
  background: none;
  border: 0;
  cursor: pointer;
  outline: 0; }
  button:focus {
    outline: inherit; }

a {
  text-decoration: none;
  color: inherit;
  word-wrap: break-word; }

ul, ol {
  list-style: none; }

h3 {
  font-weight: bolder; }

h4 {
  font-weight: bolder; }

a {
  font-weight: bolder; }

em {
  font-weight: bolder; }

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }
  body:before {
    position: absolute;
    display: inline-block;
    z-index: 1000;
    font-size: large; }
  @media (min-width: 1441px) {
    body:before {
      content: "mq-xl"; } }
  @media screen and (min-width: 769px) and (max-width: 1440px) {
    body:before {
      content: "mq-md"; } }
  @media screen and (min-width: 751px) and (max-width: 768px) {
    body:before {
      content: "mq-tb"; } }
  @media screen and (min-width: 751px) {
    body:before {
      background-color: red; } }
  @media screen and (max-width: 750px) {
    body:before {
      content: "mq-sp";
      background-color: blue; } }

header {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 0 1rem; }
  @media screen and (min-width: 751px) {
    header .inner {
      height: 5rem; } }
  @media screen and (max-width: 750px) {
    header .inner {
      height: 2.5rem; } }

footer {
  background-color: #6ebbd4; }
  footer .inner {
    border: 0;
    padding: 0 2rem;
    padding-top: 1rem;
    margin-top: 0.2rem;
    color: white;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }
    footer .inner .body {
      display: flex;
      justify-content: space-between;
      vertical-align: middle;
      align-items: center; }
      footer .inner .body .left img[src="https://placehold.jp/150x150.png"] {
        width: 30%;
        height: 2rem;
        margin-bottom: 0.5rem;
        text-align: left; }
      footer .inner .body .right {
        text-align: right; }
    footer .inner .copy {
      text-align: center;
      margin-top: 1rem; }

section {
  padding: 1rem 1rem; }

.inner {
  border: 1px solid rgba(206, 18, 6, 0.8);
  max-width: 1160px;
  margin: auto; }

.main-visual {
  padding: 0; }
  .main-visual #mv-body {
    width: 100%;
    height: 20rem;
    background-image: url("../img/seishun1.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }
    .main-visual #mv-body h2 {
      display: none; }

.pick-up-news {
  background: white;
  margin-top: 0px;
  border: 0; }
  .pick-up-news .inner {
    border: 0; }
    .pick-up-news .inner ul {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      @media screen and (min-width: 751px) {
        .pick-up-news .inner ul li {
          width: calc(100% / 4 - 0.5rem); } }
      @media screen and (max-width: 750px) {
        .pick-up-news .inner ul li {
          width: calc(100% / 2 - 0.5rem); } }
      .pick-up-news .inner ul li .thumb img {
        border: 0;
        box-shadow: 0 0 5px gray;
        cursor: pointer; }
      .pick-up-news .inner ul li .lead {
        color: green; }

.main-contents .inner {
  border: 0; }
  .main-contents .inner .vision {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    height: 12rem;
    background-image: url("https://placehold.jp/150x150.png");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; }
    .main-contents .inner .vision .body h4 {
      display: none; }
    .main-contents .inner .vision .body img[src="https://placehold.jp/150x150.png"] {
      width: 100%;
      height: 4rem;
      margin-bottom: 0.5rem; }
    .main-contents .inner .vision .body .lead {
      color: white;
      font-size: 0.5rem;
      font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }
  .main-contents .inner .activity {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    height: 12rem;
    background-image: url("https://placehold.jp/150x150.png");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; }
    .main-contents .inner .activity .body h4 {
      display: none; }
    .main-contents .inner .activity .body .leadtitle {
      color: white;
      font-size: 2rem;
      font-family: 'Tsukushi A Round Gothic', "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }
    .main-contents .inner .activity .body .leadsub {
      color: white;
      font-size: 0.5rem;
      font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
      margin-bottom: 0.5rem; }
    .main-contents .inner .activity .body .lead {
      color: white;
      font-size: 0.5rem;
      font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }
  .main-contents .inner .suport {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    height: 12rem;
    background-image: url("https://placehold.jp/150x150.png");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; }
    .main-contents .inner .suport .body h4 {
      display: none; }
    .main-contents .inner .suport .body .leadtitle {
      color: white;
      font-size: 2rem;
      font-family: 'Tsukushi A Round Gothic', "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }
    .main-contents .inner .suport .body .leadsub {
      color: white;
      font-size: 0.5rem;
      font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
      margin-bottom: 0.5rem; }
    .main-contents .inner .suport .body .lead {
      color: white;
      font-size: 0.5rem;
      font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }

/*# sourceMappingURL=index.css.map */
