-var title="青春基地";
-var description="「想定外の未来をつくる。」をスローガンに、学校教育にPjBLを届ける活動している特定非営利活動法人です。";
-var keyword="";

doctype html
html(lang='ja')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width')
        title #{title}
        meta(name='description', content='description')
        meta(name='keywords', content='keyword')
        meta(name='apple-mobile-web-app-capable', content='yes')
        link(rel='apple-touch-icon', href='favicon.png')
        link(rel='stylesheet', href='style/index.css')
        link(href="https://fonts.googleapis.com/earlyaccess/sawarabigothic.css" rel="stylesheet")

    body
        header
            .inner
                a.logo(href='#')
                    img(src='./img/logo.png')
        main
            section.main-visual(data-inview="false")
                .under
                .upper
                .inner
                    p.lead
                        span 想定外の未来をつくる。
                        br
                        span 10代という一瞬に溢れる可能性から。

            section.vision.kakuhan-block(data-inview="false")
                .inner
                    .body
                        h2.title
                            span.text 想定外の未来をつくる
                            br
                            span.en Vision
                        p どんな言葉をかけられて育つか。
                            br
                            | これまで、小さな一言で未来が広がっていく
                            br.isSp
                            | 高校生たちの姿を見てきました。
                        p
                            span.flip 「学校で本音は言えない」
                            | 、
                            br.isSp
                            span.flip 「やりたいこととか、とくにない」

                        p
                            | 今の子どもたちから聞こえてくる声からは、
                            br
                            | 彼らの
                            span.flip 自己肯定感
                            | や意欲を下げてしまっている
                            br.isSp
                            | 学校の空気や学び方も見えてきます。

                        p 青春基地では、一人ひとりの好奇心や
                            br.isSp
                            | 創造力を起点に、
                            br.isPc
                            | 校舎を飛び出し、
                            br.isSp
                            | 出会いと経験のなかで学んでいく
                            br
                            span.flip 「Project Based Learning（PjBL）」
                            | という
                            br.isSp
                            | 新しい学びを届けています。

                        p そして私たちは、これらの課題が「個人」ではなく
                            span.flip 「社会」
                            | にあると捉えています。
                            br
                            | 学びを届けるだけでなく、構造や環境を捉え直し、
                            br
                            | 豊かな関係性が紡がれた学校づくりに
                            br.isSp
                            | 取り組んでいます。

                        p 「そんなこと出来るとは思ってなかった！」
                            br
                            span.flip 生まれ育った環境をこえて、
                            br.isSp
                            | 一人ひとりが想定外の未来をつくる。
                            br
                            | そんな社会を目指して。

            section.service
                h2.title
                    span.text 事業
                    br
                    span.en Project

                .about-sp.kakuhan-block(data-inview="false")
                    .inner
                        .body
                            h3.title
                                span.text 学校プロジェクト
                                br
                                span.en School Project

                            p 全国の公立高校を中心に、授業と放課後のなかで一年間もしくは長期の授業を届けています。
                                br
                                | 生徒一人ひとりの
                                span.flip 「やってみたい」
                                | という好奇心や思いからプロジェクトをつくり、
                                br.isPc
                                | 授業中にも校舎を飛び出しながら、出会いと経験のなかで学ぶプログラムです。

                            p たとえば昨年度の高校では、地元の人びとや風土・カルチャーをテーマに取材や企画づくりを行い、
                                br
                                span.flip 彼らの視点
                                | から地域を切り取ったフリーペーパー『18』を制作。
                                br
                                | 動いてみることで初めて見える景色や、驚きから、
                                span.flip 探求
                                | が始まっていきます。


                            h4 実施校
                            ul
                                li
                                    p 山梨県立富士北稜高校（課題研究・通年毎週2コマ）
                                li
                                    p 福島県ふたば未来学園（未来探求*学校設置科目・通年毎週2コマ）
                                    p.note
                                        | 2017年度の
                                        a(href="http://www.public.or.jp/PRF/fund/fund_08/fukushima2017.html",target="_blank") 「ふくしま未来基金」
                                        | および
                                        a(href="http://tsunagu-inochi.org/",target="_blank") 「つなぐいのち基金」
                                        | の助成を受けて実施しました。
                                li
                                    p 東京都立第一商業高校（ビジネス基礎・通年毎1コマ）

                .about-magazine.kakuhan-block(data-inview="false")
                    .inner
                        .body
                            h3.title
                                span.text ウェブマガジン
                                br
                                span.en Web Magazine

                            p 中学生・高校生むけのウェブマガジン青春基地は、
                                br.isSp
                                | 彼らの
                                span.flip 「挑戦の武器」
                                | 。
                                br
                                | 読者だけでなく、すべての記事が中高生の
                                br.isSp
                                span.flip 「やってみたい」
                                | という思いから生まれ、
                                br
                                | 彼らが企画づくりから取材・編集まで手がけています。
                                br
                                | 会いたかったあの人に会いにいったり、
                                br
                                span.flip 知らない世界
                                | や仕事を覗きにいったり、憧れも悩みもつまっています。

                            p.mt-2
                                a.btn(href="http://seishun.style/") ウェブマガジン青春基地

            section.info(data-inview="false")
                .inner
                    .info__detail
                        h2.title
                            span.text 団体詳細
                            br
                            span.en About Us
                        .body
                            table
                                tr
                                    th 法人名
                                    td 特定非営利活動法人青春基地
                                tr
                                    th 設立
                                    td 任意団体設立： 2015年9月1日
                                        br
                                        | 法人化：2016年8月29日
                                tr
                                    th 所在地
                                    td
                                        | 東京都渋谷区千駄ヶ谷５丁目３３−３
                                        br
                                        | 新宿ネオンビル４０２
                                tr
                                    th 役員
                                    td 代表理事　石黒和己（いしぐろ わこ）
                                        br
                                        | 理事　生田和希
                                        br
                                        | 理事　戸塚隆
                                        br
                                        | 監事　寺脇研
                                tr
                                    th 定款
                                    td NPO法人青春基地定款PDF

                            .document
                                h3
                                    span.text 資料
                                dl
                                    dt 2017年
                                    dd
                                        a(href='', target='_blank') 団体概要パンフレット
                                    dd
                                        a(href='', target='_blank') H29年度活動報告書
                                    dd
                                        a(href='', target='_blank') H29年度事業報告書
                                dl
                                    dt 2016年
                                    dd
                                        a(href='', target='_blank') H28年事業報告書

                    .info__news
                        h2.title
                            span.text お知らせ
                            br
                            span.en News
                        .body
                            .fb-page(data-href='https://www.facebook.com/seishunkichi/', data-tabs='timeline', data-width='500', data-height='500', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
                                blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/seishunkichi/')
                                    a(href='https://www.facebook.com/seishunkichi/') NPO法人 青春基地

            section.concept.kakuhan-block(data-inview="false")
                .inner
                    .body
                        h2.title
                            span.text かかわる、支える
                            br
                            span.en Join Us

                        p 学校現場に入り、カリキュラムづくりを担う
                            span.flip 学生インターン、
                            br
                            | 広報や資金調達を担う
                            span.flip 社会人プロボノ
                            | のメンバーを募集しています。
                        p 私たちは、
                            span.flip 「探求」
                            | するチームです。
                            br
                            | 既存の社会規範や固定概念を問い直し、
                            br.isPc
                            | 人と向き合うことで、新しい価値観を
                            span.flip 考えつづける
                            | ことを大切にしています。
                            br
                            | ご一緒に、仮説検証と議論を楽しめたら嬉しいです。

                        p また、みなさんの関わりや支えを通じて、
                            br.isPc
                            | みんなで
                            span.flip 子どもを育てる社会
                            | を耕していきたいと思います。
                            br
                            | 今後、人口ピラミッドが逆さまになっていく少子高齢化社会のなかで、
                            br.isPc
                            | 子どもの存在自体が見えにくくなっています。
                            br
                            | だからこそ、みんなで
                            span.flip 未来を担う子どもたち
                            | に
                            span.flip 「希望」
                            | というバトンを渡しませんか。

                        p.mt-2
                            a.btn(href="https://docs.google.com/forms/d/e/1FAIpQLScCSFjU97dDyVSSTfRPUUASidDCnD65OiDrnBEMJNupAcbt0g/viewform") メールマガジンに登録
                            //br
                            //span.note 一ヶ月に一回の頻度で配信予定

        footer
            .inner
                .body
                    .left
                        img(src='./img/logo_w.png')
                    .right
                        p
                            | 〒151-0051
                            br
                            | 東京都渋谷区千駄ヶ谷
                            br
                            | 5丁目33-3 新宿ネオンビル402
                            br
                            | info@seishun.style

                    // <div class="right">
                    // <p>団体概要</p>
                    // <p>お問い合わせ</p>
                    // <p>プライバシー・ポリシー</p>
                    // </div>
                .copy
                    p Copy Right © 青春基地, All Rights Reserved.
        script(src='./script/index.js')
        #fb-root
